.App {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background-color: #afbac5;
    color: #323538;
    font-weight: 700;
}
.headerZone {
    width: 100%;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #8e99a3;
    padding: 10px 10px;
    position: fixed;
    top: 0;
}
.logoZone {
    cursor: pointer;
}
.logo {
    width: 45px;
    height: 45px;
    transition: opacity 0.1s;
}
.logo:hover {
    opacity: 50%;
}

.rightZone {
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerIcon {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    font-size: 30px;
    margin-left: 10px;
    border: 2px solid #323538;
    padding: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
}
.headerIcon:hover {
    background-color: #7c868f;
}

.headerBlank {
    height: 60px;
}

.page {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px 15%;

    font-size: 15px;
}

.pageTitle {
    font-size: 30px;
    margin-bottom: 10px !important;
}

.home {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.smallP {
    font-size: 12.5px;
}

.pandasListView {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.pandasList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.pandaItem {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #8e99a3;
    border-radius: 7.5px;
    padding: 4px 15px;
    margin: 4px 5px;
    cursor: pointer;
    transition: background-color 0.1s;
}
.pandaItem:hover {
    background-color: #828b94;
    transition: background-color 0.1s;
}

.pandaDetailsView {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.pandaDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 10px;
}
.pandaDetailsName {
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    justify-content: space-between;
}
.pandaDetailsPhoto {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}
.pandaPhoto {
    width: 100%;
    border-radius: 20px;
}
.pandaDetailsInterests {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.value {
    color: #ffffff;
}

.pandaFormView {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.pandaForm {
    border: 2px solid #323538;
    border-radius: 20px;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    padding: 10px 10px;

    margin-top: 10px;
}

form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.formSubCategory {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}

input[type="submit"] {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #323538;
    color: #ffffff;
    border: 0;
    border-radius: 10px;
    padding: 5px 5px;
    margin: 10px 0 !important;
}

button {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    padding: 5px 5px;
    border-radius: 10px !important;
    background-color: #323538;
    color: #ffffff;
    margin: 10px 0 !important;
}

.cancelButton {
    background-color: #573232;
    color: #ffffff;
}
.cancelButton:hover {
    background-color: #6d3f3f;
}

.acceptButton {
    background-color: #32573d !important;
    color: #ffffff;
}
.acceptButton:hover {
    background-color: #406e4e !important;
}
